<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>About Page</title>
    <style>
        body {
            background-image: url("../static/dna-struktur-rev.jpg");
            background-repeat: no-repeat;
            background-size: 100%
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('home')}}" style="font-size:20px;color:white">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('example')}}" style="font-size:20px;color:white">Example <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('help')}}" style="font-size:20px;color:white">Help <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('about')}}" style="font-size:20px;color:white">About <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div style="text-shadow: 2px 2px 8px white">
<h1 style="font-size:35px; color: #012457; padding-left: 20px">About</h1>
<p style="padding-left: 40px;font-size: 18px;font-weight:700">
    This website is developed by Zuriya Feldman in the Louzoun lab.<br>
    The imputation is based on the codes: 'GRIMM' by Sapir Israeli and 'GRAMM' by Zuriya Feldman.<br><br>
    <a href="http://yolo.math.biu.ac.il/" target="_blank">Link for the lab website</a><br>
    <a href="https://github.com/louzounlab" target="_blank">Link for the lab GitHub</a>
</p>

</div>

</body>
