<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
    <style>
        * {
            box-sizing: border-box;
        }

        /* Create two unequal columns that floats next to each other */
        .column {
            padding: 20px;
            height: 450px;
            border-radius: 25px;

        }

        .left {
            width: 35%;
            margin-left: 4%;
            margin-right: 2%;
        }

        .right {
            width: 55%;
            margin-right: 2%;
            margin-left: 1%;

        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        input[type=radio] {
            outline: 2px solid black
        }

        body {
            background-image: url("../static/dna-struktur-rev.jpg");
            background-repeat: no-repeat;
            background-size: 100%
        }

        .container1 {
            border-radius: 3px;
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">


    // var figure_ad = ;

    </script>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div id="myDIV">
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('home')}}" style="font-size:20px;color:white">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('example')}}" style="font-size:20px;color:white">Example <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('help')}}" style="font-size:20px;color:white">Help <span
                        class="sr-only">(current)</span></a>
            </li>
                        <li class="nav-item active">
                <a class="nav-link" href="{{url_for('about')}}" style="font-size:20px;color:white">About <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>


<br>
<h1 style="font-size:40px;color: #40132a;text-align: center"><b>Family Imputation</b></h1>
<p style="text-align: center;size: 15px"> Before starting, it is recommended to read the explanations under "Help"</p>
<div class="row">
    <div class="column left" style="background: rgba(105,94,108,0.9);text-align: center; border-color: white">
        <h2 style="color: white;font-size:25px"><b>Insertion by File</b></h2>
        <br><br>
        <p style="font-size: 20px; color: white">Insert an input file.<br> See an example of a valid format<br> under
            the "Example" label</p>
        <br><br>
        <form id="my-form" action="" method=post enctype=multipart/form-data>
            <input type=file name=the_file style="width: 300px;height: 80px;font-size: 20px;margin: 4px 40px ">
        </form>

    </div>

    <div class="column right" style="background: rgba(154,154,161,0.9);">
        <h2 style="color: white;font-size:25px;text-align: center"><b>Manual Insertion</b></h2>

        <form action="" method="post" enctype=multipart/form-data>
            <label for="member">Choose family member: </label>
            <select id="member" name="member">
                <option value="Father" id="Father">Father</option>
                <option value="Mother" id="Mother">Mother</option>
                <option value="Child">Child</option>
            </select>

            {% if select_f %}
            <script>
                document.getElementById("Father").disabled = true;
            </script>
            {% endif %}

            {% if select_m %}
            <script>
                document.getElementById("Mother").disabled = true;
            </script>
            {% endif %}

            {% if send2user %}
            <script>
                document.getElementById("Father").disabled = false;
                document.getElementById("Mother").disabled = false;
            </script>
            {% endif %}


            <label for="gl_or_split" style="margin-left: 40px">Choose the insertion mode: </label>
            <select id="gl_or_split" name="gl_or_split">
                <option value="gl" selected="selected">Insertion by gl string</option>
                <option value="separately">Insert separately</option>
            </select>

            <br><br>
            <div class="container1" id="con1" style="background-color: #888088">
                <p id="expla_gl" style="margin-left: 20px"><b>Insertion by gl string (see an example to a valid format of gl string under
                    "Example"):</b></p>

                <input type="text" id="gl_string" name="gl_string" style="width: 800px;margin-left: 20px">
                <br><br>
            </div>



            <div class="container1" id="con2" style="background-color: #9A9AA1">
                <p id="expla_split" style="margin-left: 20px"><b>Insert separately:</b></p>

                <table class="table table-borderless" id="table_split"
                       style="width: 250px;position:relative;left: 3%; background-color: #b2b2b9">
                    <tbody>
                    <tr>
                        <td>A1</td>
                        <td><input type="text" id="A1" name="A1" style="width:60px" disabled="true"></td>
                        <td>B1</td>
                        <td><input type="text" id="B1" name="B1" style="width:60px" disabled="true"></td>
                        <td>C1</td>
                        <td><input type="text" id="C1" name="C1" style="width:60px" disabled="true"></td>
                        <td>DRB11</td>
                        <td><input type="text" id="DRB1" name="DRB1" style="width:60px" disabled="true"></td>
                        <td>DQB11</td>
                        <td><input type="text" id="DQB1" name="DQB1" style="width:60px" disabled="true"></td>
                    </tr>
                    <tr>
                        <td>A2</td>
                        <td><input type="text" id="A2" name="A2" style="width:60px" disabled="true"></td>
                        <td>B2</td>
                        <td><input type="text" id="B2" name="B2" style="width:60px" disabled="true"></td>
                        <td>C2</td>
                        <td><input type="text" id="C2" name="C2" style="width:60px" disabled="true"></td>
                        <td>DRB12</td>
                        <td><input type="text" id="DRB2" name="DRB2" style="width:60px" disabled="true"></td>
                        <td>DQB12</td>
                        <td><input type="text" id="DQB2" name="DQB2" style="width:60px" disabled="true"></td>
                    </tr>
                    </tbody>
                </table>
                <br>
            </div>

            <script>
                document.getElementById('gl_or_split').addEventListener('change', function () {
                    if (this.value == "gl") {
                        document.getElementById("con1").style.background = "#888088";
                        document.getElementById("con2").style.background = "#9A9AA1";
                        document.getElementById('gl_string').disabled = false;
                        document.getElementById('A1').disabled = true;
                        document.getElementById('B1').disabled = true;
                        document.getElementById('C1').disabled = true;
                        document.getElementById('DRB1').disabled = true;
                        document.getElementById('DQB1').disabled = true;
                        document.getElementById('A2').disabled = true;
                        document.getElementById('B2').disabled = true;
                        document.getElementById('C2').disabled = true;
                        document.getElementById('DRB2').disabled = true;
                        document.getElementById('DQB2').disabled = true;

                    } else {
                        document.getElementById('gl_string').disabled = true;
                        document.getElementById("con1").style.background = "#9A9AA1";
                        document.getElementById("con2").style.background = "#888088";
                        document.getElementById('A1').disabled = false;
                        document.getElementById('B1').disabled = false;
                        document.getElementById('C1').disabled = false;
                        document.getElementById('DRB1').disabled = false;
                        document.getElementById('DQB1').disabled = false;
                        document.getElementById('A2').disabled = false;
                        document.getElementById('B2').disabled = false;
                        document.getElementById('C2').disabled = false;
                        document.getElementById('DRB2').disabled = false;
                        document.getElementById('DQB2').disabled = false;
                    }
                });
            </script>

            <button type="submit" name="submit_btn" value="Add family member"
                    style="margin-left: 350px">Add family member
            </button>
            <button type="submit" name="submit_btn" value="Clear family"
                    style="margin-left: 130px; background-color: #73737A;color: white">Clear the data of this family
            </button>
            <p style="color: #2d1129; font-size: 10px;">Accepted: {{ gl_accepted }}</p>
        </form>


    </div>
</div>
{% if error_message %}
<p style="color:darkred;text-align: center;font-size: 20px"><b>Bad input, please insert a different input</b></p>
{% endif %}

<br>
<button type="submit" form="my-form" onclick="myFunction();" name="submit_btn" value="Results"
        style="background-color: #7f0a2f;width:200px;border-radius: 7px;color: white;padding: 10px 15px;text-align: center;position: relative; left:40%;font-size: 25px;">
    Results
</button>

<p id="txt_mes"
   style="color: #40132a;text-align: center;font-size:20px;font-weight: 600;text-shadow: 4px 4px 8px white"></p>

{% if send2user %}
<p id="link_dl_output1"
   style="text-align: center;font-size:30px;font-weight: 600;text-shadow: 3px 3px 10px white"
   onclick="remove_mes()"><a style="color: #011b39" href="{{url_for('download_output') + '/'+ rand_user}}" target="_blank">Click here to download the output to
    your computer</a></p>
<p id="link_dl_output2" style="text-align: center;font-size:25px;font-weight: 500;text-shadow: 3px 3px 10px white">
    <a style="color: #1d1620" href="#" onclick="show_visual()">Show the visualization of the first family</a>
</p>
{% endif %}


<script id="my_scr" my_rand={{rand_user}}>

    function myFunction() {
        document.getElementById("txt_mes").innerHTML = "the data is in process ...";
        var x = document.getElementById("link_dl_output1");
        var y = document.getElementById("link_dl_output2");
        x.style.display = "none";
        y.style.display = "none";

    }

    function remove_mes() {
        document.getElementById("txt_mes").innerHTML = "";

    }

    function show_visual() {
        var script_tag = document.getElementById('my_scr');
        var rand_user1 = script_tag.getAttribute("my_rand");
        var cur_adr = '../static/' + rand_user1 + '_1.png';
        window.open(cur_adr,'visualization','width=1200, height=600, left=300', false);
        return false;
    }

</script>


<p style="text-align: center; size: 20px"><b>Cite as:</b> Feldman Z, Israeli S and Louzoun Y (2020).
    Family Imputation by GRIMM and GRAMM codes.</p>
<hr style="background-color: #9e9e9e">
<p style="text-align:center; font-size:15px">&copy; Louzoun-Lab 2020</p>


</body>
</html>
